In [45]:
import camelot
import pandas as pd

# Extract tables from all pages using the 'stream' flavor
tables = camelot.read_pdf("RBS-statement-1.pdf", pages="all", flavor="stream")

# Combine all tables into a single DataFrame
dfs = [table.df for table in tables]
df = pd.concat(dfs, ignore_index=True)

# Drop any empty rows or columns if needed
df_cleaned = df.dropna(how='all', axis=0)
df_cleaned = df_cleaned.dropna(how='all', axis=1)  # Optionally drop empty columns

# Reset index and print the cleaned DataFrame
df_cleaned.reset_index(drop=True, inplace=True)
print(df_cleaned)

                                                     0  \
0
1
2
3
4                         3 August to 2 September 2021
..                                                 ...
851
852  account overdrawn if you donâ€™t have an arrange...
853
854   your account over your arranged overdraft limit.
855

                                                     1  \
0
1
2
3                               Branch Identifier Code
4
..                                                 ...
851  print. Please contact us by calling 03457 60 6...
852
853  GMT 8am to 10pm, Monday to Sunday) or textphon...
854
855        to let us know how we can serve you better.

                                     2    3    4    5    6
0                                    .  NaN  NaN  NaN  NaN
1    International Bank Account Number  NaN  NaN  NaN  NaN
2               GB13HBUK40090058179220  NaN  NaN  NaN  NaN
3                                       NaN  NaN  NaN  NaN
4                                       NaN  NaN  NaN  NaN
..                                 ...  ...  ...  ...  ...
851                                     NaN  NaN  NaN  NaN
852                                     NaN  NaN  NaN  NaN
853                                     NaN  NaN  NaN  NaN
854                                     NaN  NaN  NaN  NaN
855                                     NaN  NaN  NaN  NaN

[856 rows x 7 columns]

In [ ]:
df_cleaned = df_cleaned[df_cleaned[1].notna() & (df_cleaned[1] != "")]
# Extract data starting from the desired row (row 16 here)
#df_cleaned = df_cleaned.iloc[16:].reset_index(drop=True)
df_cleaned.head()

df_cleaned.columns = df_cleaned.iloc[0]  # Set the first row as columns
df = df_cleaned[1:]  # Remove the first row after setting it as the header
# Define new column names
new_column_names = ["Date", "Description","Type", "Credits", "Debits"]
 
# Assign new column names to the DataFrame
df.columns = new_column_names

# Remove rows where 'Date' column value is "Date"
df = df[df['Date'] != "Date"]

# Reset index again after filtering
df.reset_index(drop=True, inplace=True)

In [34]:
df_cleaned = df_cleaned[df_cleaned[1].notna() & (df_cleaned[1] != "")]
# Extract data starting from the desired row (row 16 here)
#df_cleaned = df_cleaned.iloc[16:].reset_index(drop=True)
df_cleaned.head()

,0,1,2,3,4,5
0,Date\nType,Description,Paid in,Paid out,Balance,NaN
2,DEBIT CARD \n22 Sep 2021,"4778 21SEP21 , ASPIEGEL LTD ,",,2.49,"1,175.45",NaN
3,TRANSACTION,DUBLIN IE,,,,NaN
4,DEBIT CARD,"3831 21SEP21 CD ,",,11.18,"1,164.27",NaN
5,TRANSACTION,"POUNDSTRETCHER , DOVER GB",,,,NaN

In [35]:
df_cleaned.columns = df_cleaned.iloc[0]  # Set the first row as columns
df = df_cleaned[1:]  # Remove the first row after setting it as the header
# Define new column names
df.head(40)

,Date\nType,Description,Paid in,Paid out,Balance,NaN
2,DEBIT CARD \n22 Sep 2021,"4778 21SEP21 , ASPIEGEL LTD ,",,2.49,"1,175.45",NaN
3,TRANSACTION,DUBLIN IE,,,,NaN
4,DEBIT CARD,"3831 21SEP21 CD ,",,11.18,"1,164.27",NaN
5,TRANSACTION,"POUNDSTRETCHER , DOVER GB",,,,NaN
6,DEBIT CARD,"4778 21SEP21 , POUNDSTRETCHER",,2.54,"1,161.73",NaN
...,...,...,...,...,...,...
658,,TRANSACTION,BRITISH GAS O GB,,,
664,"Â© The Royal Bank of Scotland, Downloaded from ...",The Royal Bank of Scotland plc. Registered in...,NaN,NaN,NaN,NaN
665,Online Statement Service on 9/11/2021. Search ...,"Square, Edinburgh EH2 2YB. We are authorised ...",NaN,NaN,NaN,NaN
666,www.rbs.co.uk for more information.,by the Financial Conduct Authority and the Pru...,NaN,NaN,NaN,NaN
667,,18,NaN,NaN,NaN,NaN

In [37]:
df.tail(40)

,Date\nType,Description,Paid in,Paid out,Balance,NaN
614,,DEBIT CARD,"4778 18OCT21 ,",,1.90,147.97
615,,TRANSACTION,"WWW.DOVER.GOV.UK ,",,,
617,,DEBIT CARD,"4778 18OCT21 , PAYPAL ,",,8.80,139.17
618,,TRANSACTION,"*EYECONTACTS , 35314369001 GB",,,
619,,DEBIT CARD,"3831 18OCT21 CD , SMOK AIR",,10.00,129.17
620,,TRANSACTION,"STORE , DOVER GB",,,
621,Date,Type,Description,Paid in,Paid out,Balance
622,,DEBIT CARD,"4778 18OCT21 , EBAY COMMERCE",,2.45,126.72
623,,TRANSACTION,"UK , LTD , LONDON GB",,,
624,,DEBIT CARD,"4778 17OCT21 , EBAY COMMERCE",,12.95,113.77
625,,TRANSACTION,"UK , LTD , LONDON GB",,,
626,,DEBIT CARD,"4778 17OCT21 , EBAY COMMERCE",,17.80,95.97
627,,TRANSACTION,"UK , LTD , LONDON GB",,,
628,,DEBIT CARD,"4778 17OCT21 , EBAY COMMERCE",,24.66,71.31
629,,TRANSACTION,"UK , LTD , LONDON GB",,,
630,,DEBIT CARD,"4778 17OCT21 , EBAY COMMERCE",,11.89,59.42
631,,TRANSACTION,"UK , LTD , LONDON GB",,,
632,20 Oct 2021,DIGITAL BANKING,"FROM A/C 00632122, VIA MOBILE -",20.00,,79.42
634,,DIGITAL BANKING,"FROM A/C 00632122, VIA MOBILE -",3.00,,82.42
636,,DEBIT CARD,"4778 17OCT21 , BRITISH GAS OTP ,",,5.00,77.42
637,,TRANSACTION,BRITISH GAS O GB,,,
638,,DEBIT CARD,"3831 18OCT21 CD , PRIORY FS1032",,10.00,67.42
639,,TRANSACTION,", DOVER GB",,,
640,,DEBIT CARD,"3831 19OCT21 CD , WM",,47.13,20.29
641,,TRANSACTION,"MORRISONS STORE, DOVER 441",,,
643,21 Oct 2021,DIGITAL BANKING,"FROM A/C 00632122, VIA MOBILE -",20.00,,40.29
645,,DIGITAL BANKING,"FROM A/C 00632122, VIA MOBILE -",10.00,,50.29
647,,DIGITAL BANKING,"FROM A/C 00632122, VIA MOBILE -",20.00,,70.29
649,,DIGITAL BANKING,"FROM A/C 00632122, VIA MOBILE -",10.00,,80.29
651,,DIGITAL BANKING,"FROM A/C 00632122, VIA MOBILE -",20.00,,100.29
653,,DEBIT CARD,"3831 20OCT21 CD , WHITE CLIFFS ,",,4.35,95.94
654,,TRANSACTION,DOVER GB,,,
655,,DEBIT CARD,"3831 20OCT21 CD , WHITE CLIFFS ,",,7.20,88.74
656,,TRANSACTION,DOVER GB,,,
657,,DEBIT CARD,"4778 20OCT21 , BRITISH GAS OTP ,",,8.00,80.74
658,,TRANSACTION,BRITISH GAS O GB,,,
664,"Â© The Royal Bank of Scotland, Downloaded from ...",The Royal Bank of Scotland plc. Registered in...,NaN,NaN,NaN,NaN
665,Online Statement Service on 9/11/2021. Search ...,"Square, Edinburgh EH2 2YB. We are authorised ...",NaN,NaN,NaN,NaN
666,www.rbs.co.uk for more information.,by the Financial Conduct Authority and the Pru...,NaN,NaN,NaN,NaN
667,,18,NaN,NaN,NaN,NaN

In [28]:
# Drop columns with NaN as column names
df = df.loc[:, df.columns.notna()]

In [29]:
# Splitting the 'Date\nType' column (index 0) into 'Type' and 'Date'
df[[0, 1]] = df.iloc[:, 0].str.split('\n', expand=True)

# Rename the new columns
df.rename(columns={0: 'Type', 1: 'Date'}, inplace=True)

# Drop the original combined column if desired
df.drop(columns=['Date\nType'], inplace=True)

In [31]:
df = df[['Date', 'Type', 'Description', 'Paid in', 'Paid out', 'Balance']]

In [32]:
df.head(60)

,Date,Type,Description,Paid in,Paid out,Balance
2,22 Sep 2021,DEBIT CARD,"4778 21SEP21 , ASPIEGEL LTD ,",,2.49,"1,175.45"
3,None,TRANSACTION,DUBLIN IE,,,
4,None,DEBIT CARD,"3831 21SEP21 CD ,",,11.18,"1,164.27"
5,None,TRANSACTION,"POUNDSTRETCHER , DOVER GB",,,
6,None,DEBIT CARD,"4778 21SEP21 , POUNDSTRETCHER",,2.54,"1,161.73"
7,None,TRANSACTION,", DOVER GB",,,
8,None,DEBIT CARD,"3831 21SEP21 CD ,",,,
10,None,TRANSACTION,"POUNDSTRETCHER , DOVER GB",,,
11,None,DEBIT CARD,"3831 21SEP21 CD , JOLLYES THE",,35.99,"1,124.31"
12,None,TRANSACTION,"PET , SUPERS , DOVER GB",,,
13,None,DEBIT CARD,"3831 21SEP21 CD , GREGGS PLC ,",,7.00,"1,117.31"
14,None,TRANSACTION,DOVER GB,,,
15,None,DEBIT CARD,"4778 21SEP21 , WM MORRISONS",,60.05,"1,057.26"
16,None,TRANSACTION,"STORE, DOVER 441 GB",,,
17,None,DEBIT CARD,"3831 21SEP21 CD , B&M 660 -",,9.99,"1,047.27"
18,None,TRANSACTION,"BIGGIN , DOVER GB",,,
19,None,DEBIT CARD,"3831 21SEP21 CD , SQ *DOVER AGE",,6.00,"1,041.27"
20,None,TRANSACTION,", CONCERN , DOVER GB",,,
21,23 Sep 2021,DIGITAL BANKING,"YVONNE WATHEN , DRAWERS , VIA",,15.00,"1,026.27"
22,None,,"MOBILE - PYMT , FP 23/09/21 10 ,",,,
23,None,,48115500952601000R,,,
24,None,DIGITAL BANKING,"ADRIAN COVENEY , LAMP , VIA",,25.00,"1,001.27"
25,None,,"MOBILE - PYMT , FP 23/09/21 10 ,",,,
26,None,,22131151551321000R,,,
27,None,DEBIT CARD,"4778 22SEP21 , EBAY O*13-0 , 7638-",,188.90,812.37
28,None,TRANSACTION,"57157 , LUXEMBOURG LU",,,
29,None,DEBIT CARD,"3831 22SEP21 CD , B&M 660 -",,13.67,798.70
30,None,TRANSACTION,"BIGGIN , DOVER GB",,,
31,None,DEBIT CARD,"3831 22SEP21 CD , NEWS IN ,",,26.27,772.43
32,None,TRANSACTION,DOVER GB,,,
33,None,DEBIT CARD,"3831 22SEP21 CD , SUPERDRUG",,6.00,766.43
34,None,TRANSACTION,"STORES , PLC , KENT GB",,,
35,None,DEBIT CARD,"3831 22SEP21 CD , A A BEGGS",,7.89,758.54
36,None,TRANSACTION,"PHARMACY, DOVER GB",,,
37,None,Date,Type,Description,Paid in,Paid out
38,None,,DEBIT CARD,"4778 22SEP21 , AMAZON ,",,7.99
39,None,,TRANSACTION,"PRIME*P74245G05 ,",,
41,None,,DEBIT CARD,"4778 22SEP21 ,",,10.00
42,None,,TRANSACTION,"WWW.UTILITA.CO.UK , 01962679088",,
44,None,,DEBIT CARD,"4778 22SEP21 ,",,0.90
45,None,,TRANSACTION,"WWW.DOVER.GOV.UK ,",,
47,None,,STANDING ORDER,"EAST LOTHIAN COUNC, FP 23/09/21",,10.00
49,None,24 Sep 2021,AUTOMATED PAY IN,104L53U6E DWP UC,490.34,
50,None,,DIGITAL BANKING,"IZZY PATTERSON , STAMPS THANK",,10.00
52,None,,DIGITAL BANKING,"DARREN HOWARD , CHAIR , VIA",,10.00
55,None,,DEBIT CARD,"4778 23SEP21 , POUNDLAND LTD ,",,1.50
56,None,,TRANSACTION,DOVER GB,,
57,None,,DEBIT CARD,"3831 23SEP21 CD , COSTA COFFEE",,1.75
58,None,,TRANSACTION,", DOVER GB",,
59,None,,DEBIT CARD,"3831 23SEP21 D , DELIVEROO ,",,24.14
60,None,,TRANSACTION,LONDON GB,,
61,None,,DEBIT CARD,"3831 23SEP21 CD ,",,1.59
62,None,,TRANSACTION,"POUNDSTRETCHER , DOVER GB",,
63,None,,DEBIT CARD,"3831 23SEP21 CD , BOOTS 0987 ,",,7.59
64,None,,TRANSACTION,DOVER GB,,
65,None,,DEBIT CARD,"3831 23SEP21 CD , B&M 660 -",,49.52
66,None,,TRANSACTION,"BIGGIN , DOVER GB",,
67,None,,DEBIT CARD,"3831 23SEP21 CD , GREGGS PLC ,",,7.50
68,None,,TRANSACTION,DOVER GB,,
69,None,,DEBIT CARD,"4778 23SEP21 , AMZNMKTPLACE ,",,7.99

In [40]:
import camelot
import pandas as pd

# Extract tables from all pages using the 'stream' flavor
tables = camelot.read_pdf("RBS-statement-1.pdf", pages="all", flavor="stream")

# Combine all tables into a single DataFrame
dfs = [table.df for table in tables]
df = pd.concat(dfs, ignore_index=True)

# Drop any empty rows or columns if needed
df_cleaned = df.dropna(how='all', axis=0)
df_cleaned = df_cleaned.dropna(how='all', axis=1)  # Optionally drop empty columns

# Reset index
df_cleaned.reset_index(drop=True, inplace=True)

# Create separate columns for Date and Type
# We need to extract 'Date' from the first column when it starts with a date format
date_rows = df_cleaned[0].str.contains(r'\d{1,2} \w{3} \d{4}', na=False)

# Create a new DataFrame to store the structured data
structured_data = []

for index, row in df_cleaned.iterrows():
    if date_rows[index]:  # If the row contains a date
        date_type = row[0].split('\n')  # Split by newline to separate Date and Type
        date = date_type[1].strip() if len(date_type) > 1 else None
        type_ = date_type[0].strip()
        description = df_cleaned.iloc[index + 1][1] if index + 1 < len(df_cleaned) else None  # Next row's description
        paid_in = df_cleaned.iloc[index + 1][2] if index + 1 < len(df_cleaned) else None  # Next row's Paid In
        paid_out = df_cleaned.iloc[index + 1][3] if index + 1 < len(df_cleaned) else None  # Next row's Paid Out
        balance = df_cleaned.iloc[index + 1][4] if index + 1 < len(df_cleaned) else None  # Next row's Balance

        structured_data.append([date, type_, description, paid_in, paid_out, balance])

# Convert to DataFrame
final_df = pd.DataFrame(structured_data, columns=['Date', 'Type', 'Description', 'Paid in', 'Paid out', 'Balance'])

# Display the final structured DataFrame
print(final_df)

           Date             Type                       Description  \
0   22 Sep 2021       DEBIT CARD                         DUBLIN IE
1   23 Sep 2021  DIGITAL BANKING  MOBILE - PYMT , FP 23/09/21 10 ,
2          None      24 Sep 2021                   DIGITAL BANKING
3          None      27 Sep 2021                       TRANSACTION
4          None      28 Sep 2021                  AUTOMATED PAY IN
5          None      29 Sep 2021                       TRANSACTION
6          None      30 Sep 2021                       TRANSACTION
7          None       1 Oct 2021                        DEBIT CARD
8          None       4 Oct 2021
9          None       5 Oct 2021                        DEBIT CARD
10         None       6 Oct 2021                       TRANSACTION
11         None       7 Oct 2021
12         None       8 Oct 2021
13         None      11 Oct 2021
14         None      12 Oct 2021
15         None      13 Oct 2021
16         None      14 Oct 2021
17         None      15 Oct 2021
18         None      18 Oct 2021
19         None      19 Oct 2021
20         None      20 Oct 2021
21         None      21 Oct 2021

                            Paid in Paid out Balance
0
1
2     IZZY PATTERSON , STAMPS THANK            10.00
3                 DOVER GB , REFUND
4                 PL022273B DWP DLA   334.80
5                   WINE , DOVER GB
6                  HELP.UBER.COM NL
7   4778 30SEP21 , APPLE.COM/BILL ,             2.49
8                     MOBILE - PYMT
9      3831 04OCT21 CD , CLAIRE'S ,            12.00
10      STORE 654 , FOLKESTONE GB ,
11                             XFER
12                             XFER
13                             XFER
14                             XFER
15                             XFER
16                             PYMT
17                             XFER
18                             XFER
19                             XFER
20                             XFER
21                             XFER

In [44]:
final_df.head(40)

,Date,Type,Description,Paid in,Paid out,Balance
0,22 Sep 2021,DEBIT CARD,DUBLIN IE,,,
1,23 Sep 2021,DIGITAL BANKING,"MOBILE - PYMT , FP 23/09/21 10 ,",,,
2,None,24 Sep 2021,DIGITAL BANKING,"IZZY PATTERSON , STAMPS THANK",,10.00
3,None,27 Sep 2021,TRANSACTION,"DOVER GB , REFUND",,
4,None,28 Sep 2021,AUTOMATED PAY IN,PL022273B DWP DLA,334.80,
5,None,29 Sep 2021,TRANSACTION,"WINE , DOVER GB",,
6,None,30 Sep 2021,TRANSACTION,HELP.UBER.COM NL,,
7,None,1 Oct 2021,DEBIT CARD,"4778 30SEP21 , APPLE.COM/BILL ,",,2.49
8,None,4 Oct 2021,,MOBILE - PYMT,,
9,None,5 Oct 2021,DEBIT CARD,"3831 04OCT21 CD , CLAIRE'S ,",,12.00
10,None,6 Oct 2021,TRANSACTION,"STORE 654 , FOLKESTONE GB ,",,
11,None,7 Oct 2021,,XFER,,
12,None,8 Oct 2021,,XFER,,
13,None,11 Oct 2021,,XFER,,
14,None,12 Oct 2021,,XFER,,
15,None,13 Oct 2021,,XFER,,
16,None,14 Oct 2021,,PYMT,,
17,None,15 Oct 2021,,XFER,,
18,None,18 Oct 2021,,XFER,,
19,None,19 Oct 2021,,XFER,,
20,None,20 Oct 2021,,XFER,,
21,None,21 Oct 2021,,XFER,,